$ff-primary: var(--jost);
$ff-sec: var(--roboto);
$ff-sec: var(--roboto-flex);

$fs-1: 12rem / 16;

.a {
	font-family: $ff-primary;
	font-size: $fs-1;
}

.b {
	font-family: $ff-sec;
}

.c {
	font-family: $ff-sec;
}
