@use "../../styles/style" as *;

.filter {
	width: fit-content;
	margin-left: auto;
	div {
		position: relative;
		$leftSpacing: 1em;
		$blockSpacing: 0.43em; /* (6 / 14) -> 14px de fonte base, para chegar a 6px de espacamento*/
		$borderSize: 1px;

		label,
		input {
			color: $gray-500;
		}

		label {
			position: absolute;
			bottom: calc($blockSpacing + $borderSize);
			left: calc($leftSpacing + $borderSize);

			pointer-events: none;
			transition: transform 0.5s ease-in;
		}

		label.up {
			transform: translateX(-$leftSpacing)
				translateY(calc(($blockSpacing + $borderSize + 100%) * -1));
		}

		input {
			padding-block: $blockSpacing;
			padding-inline: $leftSpacing 2em;
			border: $borderSize solid $gray-100;
			margin-top: 1.5em;

			border-radius: 0.29em;

			&:focus-visible,
			&:hover {
				outline: 2px solid $vinhoOpea;
				outline-offset: 2px;
			}
		}
	}
}
