@use "../../styles/style.scss" as *;

.modal > form {
	padding: calc(var(--fs-4) * 1.5);

	fieldset {
		border: none;

		&:not(:last-of-type) {
			margin-bottom: var(--fs-4);
		}

		label {
			display: block;

			color: $vinhoOpea;
		}

		input {
			width: 100%;
			border: 0.1em solid $gray-100;
			border-radius: 0.34em;
		}
	}
}
