@use "../../styles/style.scss" as *;

.modal > form {
	padding: calc(var(--fs-4) * 1.5);

	fieldset {
		border: none;

		&:not(:last-of-type) {
			margin-bottom: var(--fs-4);
		}

		label {
			display: block;

			color: $vinhoOpea;
		}

		input {
			width: 100%;
			padding-block: 0.5em;
			padding-inline: 1em 0.5em;
			border: 0.1em solid $gray-100;
			border-radius: 0.34em;

			@include focusHover($vinhoOpea, 2px);
		}

		&.buttons {
			display: flex;
			gap: 0.5rem;

			button {
				@include focusHover($vinhoOpea, 2px);
			}

			.delete {
				min-width: pxToRem(30);
				aspect-ratio: 1;
				margin-right: auto;

				background-image: url("../../../public/lixo.svg");
				background-repeat: no-repeat;
				background-size: 100% 100%;

				&:disabled {
					opacity: 0.4;
				}
			}
		}
	}
}
